<a href="https://colab.research.google.com/github/seobho/energy-analysis/blob/master/read-data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#서울시 에너지 파일 열기

In [7]:
!git clone https://github.com/seobho/energy-analysis

Cloning into 'energy-analysis'...
remote: Enumerating objects: 42, done.
remote: Counting objects: 100% (42/42), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 42 (delta 16), reused 23 (delta 6), pack-reused 0
Unpacking objects: 100% (42/42), 115.38 KiB | 1.11 MiB/s, done.

In [2]:
cd /content/energy-analysis

/content/energy-analysis

In [3]:
import pandas as pd

In [19]:
df = pd.read_csv('에너지사용량데이터_통계_요약정보.csv', encoding='euc-kr')

In [12]:
df.head(2)

,년도,월,회원타입,건수,현년 전기사용량,전년 전기사용량,전전년 전기사용량,토탈 전기 증감량,토탈 전기탄소 증감량,현년 가스사용량,...,전년 수도사용량,전전년 수도사용량,토탈 수도 증감량,토탈 수도탄소 증감량,현년 지역난방 사용량,전년 지역난방 사용량,전전년 지역난방 사용량,토탈 지역난방 증감량,토탈 지역난방탄소 증감량,등록일
0,2023,2,학교,6686,156212159.0,157879854.0,147026809.0,3758827.5,1593742.86,6626730.0,...,1558208.6,1387412.2,198068.2,65758.6424,21391.059,27284.173,23351.389,-3926.722,-6667.713388,2023-05-01 04:13:09.0
1,2023,2,종교단체,810,8882371.0,8603719.0,7827413.0,666805.0,282725.32,653880.0,...,38138.0,31365.0,9063.5,3009.0820,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0

In [13]:
df.columns

Index(['년도', '월', '회원타입', '건수', '현년 전기사용량', '전년 전기사용량', '전전년 전기사용량',
       '토탈 전기 증감량', '토탈 전기탄소 증감량', '현년 가스사용량', '전년 가스사용량', '전전년 가스사용량',
       '토탈 가스 증감량', '토탈 가스탄소 증감량', '현년 수도사용량', '전년 수도사용량', '전전년 수도사용량',
       '토탈 수도 증감량', '토탈 수도탄소 증감량', '현년 지역난방 사용량', '전년 지역난방 사용량',
       '전전년 지역난방 사용량', '토탈 지역난방 증감량', '토탈 지역난방탄소 증감량', '등록일'],
      dtype='object')

In [20]:
# 필요한 column만 남기기
new_columns = ['년도', '월', '회원타입', '건수', '현년 전기사용량', '현년 가스사용량', '현년 수도사용량', '현년 지역난방 사용량']
df = df.reindex(columns=new_columns)

In [21]:
#영어로 변환하기
# 1. column 변환
english_columns = ['year', 'month', 'user_type', 'count', 'electricity_usage', 'gas_usage', 'water_usage', 'district_heating_usage']
change_columns = dict(zip(new_columns, english_columns))
df.rename(columns=change_columns, inplace=True)

# 2. user_type 변환
translation_dict = {'학교' : 'school',
                 '종교단체' : 'religious_organization',
                 '소상공인' : 'small_business_owner',
                 '기업' : 'corporation',
                 '공동주택관리소' : 'homeowners_association',
                 '공공기관' : 'public_institution',
                 '개인' : 'individual'}
df['user_type'] = df['user_type'].replace(translation_dict)
df

,year,month,user_type,count,electricity_usage,gas_usage,water_usage,district_heating_usage
0,2023,2,school,6686,156212159.0,6626730.0,1670878.60,21391.059
1,2023,2,religious_organization,810,8882371.0,653880.0,43815.00,0.000
2,2023,2,small_business_owner,49154,104230033.0,3736526.0,1532331.80,2211.410
3,2023,2,corporation,19032,571542443.0,40105191.0,4244692.10,0.000
4,2023,2,homeowners_association,3629,522468207.0,15160829.0,20100920.80,0.000
...,...,...,...,...,...,...,...,...
1040,2009,10,public_institution,563,16216821.0,298824.0,335667.40,NaN
1041,2009,10,individual,43711,4976029.0,956426.0,607671.10,0.000
1042,2009,9,corporation,1,259.0,13.0,38.20,NaN
1043,2009,9,homeowners_association,252,50493183.0,198961.0,2070903.60,NaN
1044,2009,9,individual,30691,3408312.0,476425.0,422157.68,0.000

In [28]:
df[['user_type','district_heating_usage']].isnull().sum()

user_type                  0
district_heating_usage    89
dtype: int64