<a href="https://colab.research.google.com/github/seobho/energy-analysis/blob/master/notebooks/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# # Use this code when running it in Google Colab.
# !git clone https://github.com/seobho/energy-analysis

fatal: destination path 'energy-analysis' already exists and is not an empty directory.

In [9]:
# # Use this code when running it in Google Colab.
# cd /content/energy-analysis

/content/energy-analysis

In [3]:
dataset_path = '/workspace/energy-analysis/dataset/'

# # Use this code when running it in Google Colab
# dataset_path = '/content/energy-analysis/dataset'

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(dataset_path + 'processed_energy_usage_data.csv')

In [5]:
df.head()

,Unnamed: 0,년도,월,회원타입,건수,현년 전기사용량,전년 전기사용량,전전년 전기사용량,토탈 전기 증감량,토탈 전기탄소 증감량,...,전년 수도사용량,전전년 수도사용량,토탈 수도 증감량,토탈 수도탄소 증감량,현년 지역난방 사용량,전년 지역난방 사용량,전전년 지역난방 사용량,토탈 지역난방 증감량,토탈 지역난방탄소 증감량,등록일
0,0,2023,2,학교,6686,156212159.0,157879854.0,147026809.0,3758827.5,1593742.860,...,1558208.6,1387412.2,198068.20,65758.6424,21391.059,27284.173,23351.389,-3926.722,-6667.713388,2023-05-01 04:13:09.0
1,1,2023,2,종교단체,810,8882371.0,8603719.0,7827413.0,666805.0,282725.320,...,38138.0,31365.0,9063.50,3009.0820,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0
2,2,2023,2,소상공인,49154,104230033.0,105285166.0,100076719.0,1549090.5,656814.372,...,1459420.9,1314505.0,145368.85,48262.4582,2211.410,3155.170,2193.810,-463.080,-649.340404,2023-05-01 04:13:09.0
3,3,2023,2,기업,19032,571542443.0,583672346.0,553650148.0,2881196.0,1221627.104,...,3966371.0,3535191.8,493910.70,163978.3524,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0
4,4,2023,2,공동주택관리소,3629,522468207.0,541038378.0,537803346.0,-16952655.0,-7187925.720,...,20956560.6,21387511.6,-1071115.30,-355610.2796,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0