<a href="https://colab.research.google.com/github/seobho/energy-analysis/blob/master/notebooks/data_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Manipulation for Seoul City Energy Usage Statistics Dataset

This Jupyter Notebook contains the process of manipulating the Seoul City energy usage statistics dataset. The following are the key steps involved in data manipulation:

### Introduction to the Dataset

This dataset provides statistical information on electricity usage, gas usage, water usage, and district heating energy usage in Seoul Special City. The dataset, owned by Seoul Metropolitan Government, covers aggregated information from September 2009 to February 2023.

link: https://data.seoul.go.kr/dataList/OA-15361/S/1/datasetView.do

### Data Manipulation Process

1. **Removal of Unnecessary Data**: Remove columns that are not relevant to the analysis or contain duplicate data. This helps clean up the dataframe and focus on the necessary data for analysis.

2. **Translation of Korean to English**: Convert the Korean columns in the dataset to English to standardize the data. This enables easier data analysis and visualization tasks.

3. **Handling Missing Values**: Identify and handle missing values using appropriate techniques. Dealing with missing values ensures data integrity and reliability.

By following these steps sequentially, we obtain a processed dataset. Each step is accompanied by code cells and comments explaining the functions and codes used.

**Note**: This notebook utilizes Python and the pandas library for data manipulation.

For more details, please refer to the code cells and comments.

In [7]:
##Use this code when running it in Google Colab.
# !git clone https://github.com/seobho/energy-analysis

Cloning into 'energy-analysis'...
remote: Enumerating objects: 88, done.
remote: Counting objects: 100% (88/88), done.
remote: Compressing objects: 100% (76/76), done.
remote: Total 88 (delta 40), reused 35 (delta 10), pack-reused 0
Unpacking objects: 100% (88/88), 137.00 KiB | 1.85 MiB/s, done.

In [8]:
##Use this code when running it in Google Colab.
#cd /content/energy-analysis

/content/energy-analysis

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('/workspace/energy-analysis/dataset/에너지사용량데이터_통계_요약정보.csv', encoding='utf-8')

# Use this code when running it in Google Colab. 
# df = pd.read_csv('/content/energy-analysis/dataset/에너지사용량데이터_통계_요약정보.csv', encoding='utf-8')

In [9]:
df.head(5)

,년도,월,회원타입,건수,현년 전기사용량,전년 전기사용량,전전년 전기사용량,토탈 전기 증감량,토탈 전기탄소 증감량,현년 가스사용량,...,전년 수도사용량,전전년 수도사용량,토탈 수도 증감량,토탈 수도탄소 증감량,현년 지역난방 사용량,전년 지역난방 사용량,전전년 지역난방 사용량,토탈 지역난방 증감량,토탈 지역난방탄소 증감량,등록일
0,2023,2,학교,6686,156212159.0,157879854.0,147026809.0,3758827.5,1593742.860,6626730.0,...,1558208.6,1387412.2,198068.20,65758.6424,21391.059,27284.173,23351.389,-3926.722,-6667.713388,2023-05-01 04:13:09.0
1,2023,2,종교단체,810,8882371.0,8603719.0,7827413.0,666805.0,282725.320,653880.0,...,38138.0,31365.0,9063.50,3009.0820,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0
2,2023,2,소상공인,49154,104230033.0,105285166.0,100076719.0,1549090.5,656814.372,3736526.0,...,1459420.9,1314505.0,145368.85,48262.4582,2211.410,3155.170,2193.810,-463.080,-649.340404,2023-05-01 04:13:09.0
3,2023,2,기업,19032,571542443.0,583672346.0,553650148.0,2881196.0,1221627.104,40105191.0,...,3966371.0,3535191.8,493910.70,163978.3524,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0
4,2023,2,공동주택관리소,3629,522468207.0,541038378.0,537803346.0,-16952655.0,-7187925.720,15160829.0,...,20956560.6,21387511.6,-1071115.30,-355610.2796,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0

## 1. Column Reindexing and Translating to English

### 1-1. Reindexing Columns

In [10]:
df.columns

Index(['년도', '월', '회원타입', '건수', '현년 전기사용량', '전년 전기사용량', '전전년 전기사용량',
       '토탈 전기 증감량', '토탈 전기탄소 증감량', '현년 가스사용량', '전년 가스사용량', '전전년 가스사용량',
       '토탈 가스 증감량', '토탈 가스탄소 증감량', '현년 수도사용량', '전년 수도사용량', '전전년 수도사용량',
       '토탈 수도 증감량', '토탈 수도탄소 증감량', '현년 지역난방 사용량', '전년 지역난방 사용량',
       '전전년 지역난방 사용량', '토탈 지역난방 증감량', '토탈 지역난방탄소 증감량', '등록일'],
      dtype='object')

In [11]:
new_columns = ['년도', '월', '회원타입', '건수', '현년 전기사용량', '현년 가스사용량', '현년 수도사용량', '현년 지역난방 사용량']
df = df.reindex(columns=new_columns)

### 1-2. Translating Korean Strings to English

In [12]:
# columns
english_columns = ['year', 'month', 'user_type', 'count', 'electricity_usage', 'gas_usage', 'water_usage', 'district_heating_usage']
change_columns = dict(zip(new_columns, english_columns))
df.rename(columns=change_columns, inplace=True)

# user_type
translation_dict = {'학교' : 'school',
                 '종교단체' : 'religious_organization',
                 '소상공인' : 'small_business_owner',
                 '기업' : 'corporation',
                 '공동주택관리소' : 'homeowners_association',
                 '공공기관' : 'public_institution',
                 '개인' : 'individual'}
df['user_type'] = df['user_type'].replace(translation_dict)

## 2. Missing Value Handling

### 2.1 Missing Value Identification

We need to check for any missing values in the dataset.

In [13]:
df.isnull().sum()

year                       0
month                      0
user_type                  0
count                      0
electricity_usage          0
gas_usage                  0
water_usage                0
district_heating_usage    89
dtype: int64

In [14]:
df[df['district_heating_usage'].isnull() == True]

,year,month,user_type,count,electricity_usage,gas_usage,water_usage,district_heating_usage
933,2011,7,corporation,11295,350008567.0,10900863.0,1119936.4,NaN
934,2011,7,homeowners_association,1083,197066716.0,2294394.0,2334874.8,NaN
935,2011,7,public_institution,2093,61846123.0,1333936.0,195269.2,NaN
937,2011,6,school,985,68086711.0,1860931.0,1392081.0,NaN
938,2011,6,corporation,11217,316638278.0,9186972.0,4001811.6,NaN
...,...,...,...,...,...,...,...,...
1038,2009,10,corporation,1734,52667514.0,2749303.0,1009451.2,NaN
1039,2009,10,homeowners_association,354,71245981.0,860111.0,3228419.4,NaN
1040,2009,10,public_institution,563,16216821.0,298824.0,335667.4,NaN
1042,2009,9,corporation,1,259.0,13.0,38.2,NaN
1043,2009,9,homeowners_association,252,50493183.0,198961.0,2070903.6,NaN

### 2-2. Missing Values Handling
The missing values are only in the district_heating_usage column.
Given the presence of 653 instances where the value is 0 in this column, it is prudent to impute 0 for the missing values.

In [15]:
df['district_heating_usage']

0       21391.059
1           0.000
2        2211.410
3           0.000
4           0.000
          ...
1040          NaN
1041        0.000
1042          NaN
1043          NaN
1044        0.000
Name: district_heating_usage, Length: 1045, dtype: float64

In [16]:
len(df[df['district_heating_usage'] == 0])

653

In [17]:
df['district_heating_usage'].fillna(0, inplace=True)

In [18]:
df.isnull().sum()

year                      0
month                     0
user_type                 0
count                     0
electricity_usage         0
gas_usage                 0
water_usage               0
district_heating_usage    0
dtype: int64

In [20]:
df.to_csv('/workspace/energy-analysis/dataset/processed_energy_usage_data.csv')